body{
background-color: rgb(5, 80, 255);    
color: rgb(216, 216, 231);
font-family: "Libertinus Keyboard", system-ui;
}
header{
    font-size: 60px;
    border: dashed 15px blue;
}

h1{
    font-size: 40px;
}

p{
    font-size: 30px;
}